@import "./variables.css";

@theme {
    --color-cream-50: #FDFCF8;
    --color-cream-100: #F8F5ED;
    --color-cream-200: #EFEADF;
    --color-cream-300: #E1DACC;

    --color-forest-50: #EEF4F0;
    --color-forest-100: #DCE9E0;
    --color-forest-200: #B9D2C1;
    --color-forest-300: #8FB39C;
    --color-forest-400: #609078;
    --color-forest-500: #3B715B;
    --color-forest-600: #285A48;
    --color-forest-700: #1F493B;
    --color-forest-800: #173A30;
    --color-forest-900: #10312A;
    --color-forest-950: #09201B;

    --color-sage-50: #F5F7F2;
    --color-sage-100: #E9EDE3;
    --color-sage-200: #D6DFCE;
    --color-sage-300: #BACBB0;
    --color-sage-400: #98AF8C;
    --color-sage-500: #78936C;
    --color-sage-600: #5E7654;
    --color-sage-700: #4B5E44;
    --color-sage-800: #3E4D39;
    --color-sage-900: #344031;


    --color-terracotta-50: #FBF3EF;
    --color-terracotta-100: #F5E3D9;
    --color-terracotta-200: #EBC5B1;
    --color-terracotta-300: #DDA181;
    --color-terracotta-400: #CB7956;
    --color-terracotta-500: #B65F3E;
    --color-terracotta-600: #99482F;
    --color-terracotta-700: #7D3928;
    --color-terracotta-800: #673125;
    --color-terracotta-900: #562A22;


    /* ──────────────────────────────
       Semantic colors
       ────────────────────────────── */

    --color-background: var(--background);
    --color-surface: var(--surface);

    --color-foreground: var(--foreground);
    --color-muted: var(--muted);

    --color-border: var(--border);

    --color-primary: var(--primary);
    --color-primary-hover: var(--primary-hover);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-hover: var(--secondary-hover);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-surface-muted: var(--surface-muted);
}