:root {
    --background: #f8f5ed;
    --surface: #fdfcf8;

    --foreground: #123a34;
    --muted: #696b67;

    --border: #d8d4c9;

    --primary: #285a48;
    --primary-hover: #1f493b;
    --primary-foreground: #ffffff;

    --secondary: #78936c;
    --secondary-hover: #5e7654;
    --secondary-foreground: #ffffff;

    --surface-muted: #e9ede3;
}

.dark {
    --background: #1b2d25;

    /* Cards / superficies elevadas */
    --surface: #24382f;

    /* Elementos secundarios */
    --surface-muted: #30483c;

    /* Texto */
    --foreground: #f0f3ec;
    --muted: #b8c3b9;

    /* Bordes */
    --border: #40594c;

    /* Primary */
    --primary: #a5c7ad;
    --primary-hover: #c0d9c5;
    --primary-foreground: #173126;

    /* Secondary */
    --secondary: #9db491;
    --secondary-hover: #b8caa9;
    --secondary-foreground: #1b2d25;
}
